@font-face {
    font-family: Quicksand;
    src: url(./fonts/Quicksand/Quicksand.ttf);
}

@font-face {
    font-family: Monocraft;
    src: url(./fonts/Monocraft/Monocraft.ttf);
}

body {
    background-color: #070707;
    font-family: monospace;
    color: #bbbbbb;
}

#container {
    margin: auto;
    width: 50%;
}

#animation-panel {
    background-color: #121212;
    border: solid 1px #444444;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
}

#animation-panel input {
    margin-bottom: 15px;
}

input,
select,
textarea {
    background-color: #26272a;
    outline: none;
    border: solid 1px #444444;
    margin: 2px;
    color: white;
    border-radius: 3px;
    padding: 7px;
    font-size: 0.85rem;
    font-family: monospace;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: none;
    background-color: #333333;
    padding: 3px;
    height: 8px;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    background: #2080ff;
    cursor: pointer;
}

button {
    background-color: #2080ff;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
    margin: 2px;
    padding: 10px 18px;
    font-size: 1rem;
}

#preview {
    font-family: Monocraft;
    font-size: 16px;
}